* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

hr {
  border: 0.4px solid rgb(173, 173, 182);
  width: 90%;
  margin: 10px auto;
}

a {
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  margin: auto;
}

.logo {
  width: 4rem;
  height: auto;
}

.logoDescript {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
}

.logoDescript h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
  text-decoration: none;
}

.divider {
  width: 2px;
  height: 1rem;
  background-color: #333;
}

.navItems {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin: 30px auto;
}

th {
  border: 1px solid rgb(218, 218, 236);
  padding: 5px 0;
  background-color: white;
  text-align: start;
}

td {
  min-width: 120px;
  padding: 20px 6px;
  border: 1px solid rgb(218, 218, 236);
}

tbody:nth-child(even) {
  background-color: #f5f5f5;
}

tr {
  text-align: start;
}

.fade {
  color: white;
}

button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 11px;
  padding: 3px;
  text-align: center;
  margin: auto;
}

.join {
  border: 0.5px solid rgb(115, 115, 120);
}

.join:hover {
  background-color: rgb(115, 115, 120);
  color: white;
}

.leave {
  border: 0.5px solid rgb(184, 6, 6);
  color: rgb(184, 6, 6);
}

.leave:hover {
  background-color: rgba(117, 50, 50, 0.1);
}

.notMember {
  border: 0.5px solid rgb(115, 115, 120);
  background-color: rgb(115, 115, 120);
  color: white;
}

.activeMember {
  border: 0.5px solid rgb(115, 115, 120);
  background-color: rgb(26, 158, 125);
  color: white;
}

.myMissions {
  width: 100%;
}

.profileHeader h2 {
  text-align: center;
}

.myProfileWrapper {
  display: flex;
  flex-direction: row;
  width: 90vw;
  margin: 30px auto;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.myProfileWrapper div {
  width: 50%;
}

.myProfileWrapper h2 {
  padding-left: 2rem;
}

.profileList:nth-child(odd) {
  background-color: #f5f5f5;
}
